<?xml version="1.0"?>

<!--
 * @author      Andreas Knollmann
 * @copyright   2014-2025 Softwareentwicklung Andreas Knollmann
 * @license     http://www.opensource.org/licenses/mit-license.php MIT
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="infrangible_catalogproductoptioncomposite" translate="label" type="text" sortOrder="1130" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Catalog Product Option Composite</label>
            <tab>infrangible</tab>
            <resource>Infrangible_CatalogAttributeLandingPage::config_infrangible_catalogproductoptioncomposite</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="show_composite_url" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Composite Url</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
