<?xml version="1.0"?>

<!--
 * @author      Andreas Knollmann
 * @copyright   Copyright (c) 2014-2025 Softwareentwicklung Andreas Knollmann
 * @license     http://www.opensource.org/licenses/mit-license.php MIT
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_option_offer_composite_item_product_option_available">
        <observer name="infrangible_catalogproductoptioncomposite" instance="Infrangible\CatalogProductOptionComposite\Observer\CatalogProductOptionOfferCompositeItemProductOptionAvailable"/>
    </event>
    <event name="checkout_cart_add_product_complete">
        <observer name="infrangible_catalogproductoptioncomposite" instance="Infrangible\CatalogProductOptionComposite\Observer\CheckoutCartAddProductComplete"/>
    </event>
    <event name="checkout_cart_product_add_after">
        <observer name="infrangible_catalogproductoptioncomposite" instance="Infrangible\CatalogProductOptionComposite\Observer\CheckoutCartProductAddAfter"/>
    </event>
</config>
